html{
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
    background-color: rgb(91, 68, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box{
background-color: aliceblue;
padding: 40px;
border-radius: 12px;
box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
width: 400px;
text-align: center;
}
.login-box h2{
    margin-bottom: 25px;
    color: #333;
}

